{% block home %}
<h1>HomePage</h1>
<
<div style="width: 100%; height: 100vh; display: flex; margin: 0px; padding: 0px">
    <div style="width: 30%; height: 100vh; background-color: orange; margin: 0px; padding: 0px"></div>
    <div style="width: 40%; height: 100vh; background-color: red; margin: 0px; padding: 0px"; >
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username"><br>
            <input type="password" name="password"><br>
            <input type="submit" value="Log In">
        </form>
    </div>
    <div style="width: 30%; height: 100vh; background-color: yellow; margin: 0px; padding: 0px"></div>
</div>
{% endblock %}